{% extends 'catalog/home.html' %}
{% block content %}
{% load my_tags %}

<div class="ms-4">
  <a class="p-2 btn btn btn-success" href="{% url 'catalog:create_product' %}" >Добавить продукт</a>
</div>

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for product in object_list %}
                <div class="col-12">
                    <div class="card shadow-sm">
                      <img src ='{{ product.image | media_filter }}' class="img-fluid">
                        <div class="card-body">
                          <p class="card-text">Наименование: {{ product.name }}</p>
                          <p class="card-text">Категория товара: {{ product.category }}</p>
                          <p class="card-text">Цена товара: {{ product.price }} ₽ </p>
                          <p class="card-text">Описание: {{ product.description|truncatewords:20|truncatechars:100 }}</p>
                            {% for version in product.versions.all %}
                            {% if version.is_version_active %}
                            <p>Версия: {{version.version_name}} ({{version.version_number}}) </p>
                            {%else%}
                            <p>Версия: Версия не активна </p>
                            {% endif %}
                            {% endfor %}
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group" role="group">

                                  {% if user.is_authenticated or user == product.creator %}
                                      <input type="radio" class="btn-check" >
                                      <a href="{%url 'catalog:update_product' product.pk %}" class="btn btn-outline-primary">Редактировать</a>
                                  {% endif %}

                                  <input type="radio" class="btn-check" >
                                  <a href="{%url 'catalog:product_detail' product.pk %}" class="btn btn-outline-primary">Просмотр</a>

                                  <input type="radio" class="btn-check" >
                                  <a href="{% url 'catalog:delete' product.pk %}" class="btn btn-outline-primary">Удалить</a>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            {%endfor%}
        </div>
    </div>
</div>

{% endblock %}